body {
	font-family: "calibri";
    background: #efefef;
    padding: 32px;
    padding-top: 16px;
    color: #333;
}
h1 {
	text-align: center;
	color: #787878;
}
#name
{
	width: 98%;
	padding: 9px;
	font-size: 16px;
}
 
#user
{
	width: 98%;
	padding: 9px;
	font-size: 16px;
}

#pass
{
	width: 98%;
	padding: 9px;
	font-size: 16px;
}

#submit
{
	width: 40%;
	padding: 9px;
	font-size: 10px;
}