/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
  }
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

h3{
    height:50px;
    background:#F0F0F0;
    border:1px solid #FFFFFF;
    text-align: center;
    margin-left: 100px;
    border-radius: 25px;
    padding-top: 10px;
    width:960px;
    margin-left:10px auto;
}
